
body{
  background: #00afc7;
  font-family: 'Open Sans', sans-serif;
}

main {
  column-count: 2;
  column-gap: 3em;
  column-rule: 1px solid #bbb;
  column-width: 140px;
}
#cajas {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-color: #f7de8e ;
  background-color: #f7de8e;
  padding: 0px;
  width: 250px;
  border-radius: 5px;
  margin: auto;
}

#divImg {
  padding: 10px;
  float: left;
  width: 45%;
  text-align: justify;
}

h2 {
  font-size: 40px;
  color: aliceblue;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
  color: #2d2d2d;
}

table td {
  width: 1%;
  text-align: center;
  left: 1px;
  right: 0px;
}

.arrow1{
  width: 2em;
  height: 2em;
  border-radius: 0 0 0 0;
  margin: -2em 2.5em;
  transform: rotate(135deg);
  background: linear-gradient(-45deg, white 50%, transparent 50%);
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 50%;
  border: #00afc7;
}

.arrow2{
  width: 2em;
  height: 2em;
  border-radius: 0 0 0 0;
  margin: -2em 2.5em;
  transform: rotate(315deg);
  background: linear-gradient(-45deg, white 50%, transparent 50%);
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 50%;
  border: #00afc7;
}

.header{

  text-align: center;
}

.footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#imgPrincipal {
  border-radius: 150px;
  width: 250px;
  height: 250px;
  border: #bfce51;
  padding: initial;
}


@media only screen and (max-width: 768px) {
  body {
    background-color: #bfce51;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
  }

  .table-responsive {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;

  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive >table > thead > tr > th,
  .table-responsive >table > tbody > tr > th,
  .table-responsive >table > tfoot > tr > th,
  .table-responsive >table > thead > tr > td,
  .table-responsive >table > tbody > tr > td,
  .table-responsive >table > tfoot > tr > td {
    white-space: nowrap;
  }

  td {
    display:inline-block;
    padding:5px;
    width:100%;
    margin: auto;
  }

  #cajas {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-color: #f7de8e ;
    background-color: #f7de8e;
    padding: 0px;
    width: 250px;
    border-radius: 5px;
    margin: auto;
  }

}
