{font-family: Open-Sans;}


body{
  background: #00afc7;
  border-style: solid;
  border-width: 2px;
  margin: 7rem;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #bfce51;

    margin: 1rem;
  }
  .row, .navbar {
    flex-direction: column;
  }
}

h2 {
  font-size: 40px;
  color: aliceblue;
  align-content: center;
}

.header{
  padding: 14px;
  text-align: center;
}

.footer{
  position: absolute;
  position: absolute;
  bottom: 0px;
  width: 100%;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
