body{
  background: #00afc7;

}

@media only screen and (max-width: 768px) {
  body {
    background-color: #bfce51;
    font-family: Open-Sans;
    margin: 1rem;
  }
  .row, .navbar {
    flex-direction: column;
  }
}

.footer{
  position: absolute;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

