<button class="arrow1" onclick=" "></button>
<button class="arrow2" onclick=" "></button>


<div class="table-responsive">
  <table style="width: 100%">
      <tbody>
      <tr>
        <td>
          <img id="imgPrincipal" src='{{rta[0].image}}'>
        </td>
        <td>
          <h2>{{rta[0].name}}</h2><br><br><br><br><br><br><br><br><br><br>
          <div  id="cajas">
            <p>Origen: {{rta[0].origin.name}}</p>
          </div>
          <div id="cajas">
            <p>Especie: {{rta[0].species}}</p>
          </div>
          <div id="cajas">
            <p>Estatus: {{rta[0].status}}</p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>
