<div class="row">
  <div class="col">
    <table class="table table-hover" align="center">

      <tbody>
      <tr>
        <img src="$(rta[0].image)" width="100px" class="img-fluid rounded-circle">
      </tr>
      <tr>
        <td>
          <h2>{{rta[0].name}}</h2>
        </td>
      </tr>
      <tr>
        <td>
          <p>Origen: {{rta[0].origin.name}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Especie: {{rta[0].species}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Estatus: {{rta[0].status}}</p>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
