<div>
  <table>
      <tbody>
      <tr>
        <td id="tdImg">
          <img id="imgPrincipal" src='{{picture}}'>
        </td>
        <td id="tdCajas">
          <div id="tdNombre">
          <h2>{{nombre}}</h2>
          </div>
          <div  id="cajas">
            <p>Origen: {{origin}}</p>
          </div>
          <div id="cajas">
            <p>Especie: {{species}}</p>
          </div>
          <div id="cajas">
            <p>Estatus: {{status}}</p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
</div>


<button class="arrow1" (click)="anterior()"></button>
<button class="arrow2" (click)="siguiente()"></button>
